<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="BlueMedia\BluePayment\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="BlueMedia\BluePayment\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">BlueMediaLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">BlueMedia\BluePayment\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Payment gateways grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gateway_listing_data_source" xsi:type="string">
                    BlueMedia\BluePayment\Model\ResourceModel\Gateway\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="BlueMedia\BluePayment\Model\ResourceModel\Gateway\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">blue_gateways</argument>
            <argument name="eventPrefix" xsi:type="string">gateway_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">gateway_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">BlueMedia\BluePayment\Model\ResourceModel\Gateway</argument>
        </arguments>
    </type>
    <!-- /Payment gateways grid -->

    <!-- Extend Order grid with payment_channel -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="payment_channel" xsi:type="string">sales_order.payment_channel</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- /Extend Order grid with payment_channel -->

    <preference for="BlueMedia\BluePayment\Api\GatewayRepositoryInterface"
                type="BlueMedia\BluePayment\Model\GatewayRepository"/>
    <preference for="BlueMedia\BluePayment\Api\Data\GatewayInterface"
                type="BlueMedia\BluePayment\Model\Gateway"/>
    <preference for="BlueMedia\BluePayment\Api\TransactionRepositoryInterface"
                type="BlueMedia\BluePayment\Model\TransactionRepository"/>
    <preference for="BlueMedia\BluePayment\Api\Data\TransactionInterface"
                type="BlueMedia\BluePayment\Model\Transaction"/>
    <preference for="BlueMedia\BluePayment\Api\RefundTransactionRepositoryInterface"
                type="BlueMedia\BluePayment\Model\RefundTransactionRepository"/>
    <preference for="BlueMedia\BluePayment\Api\Data\RefundTransactionInterface"
                type="BlueMedia\BluePayment\Model\RefundTransaction"/>

    <virtualType name="AutopayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">BlueMedia\BluePayment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">AutopayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AutopayCommandPool</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AutopayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AutopayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">BlueMedia\BluePayment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">AutopayInitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AutopayInitializeRequestBuilder</argument>
            <argument name="transferFactory" xsi:type="object">BlueMedia\BluePayment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">BlueMedia\BluePayment\Gateway\Http\Client\AutopayClient</argument>
            <argument name="validator" xsi:type="object">BlueMedia\BluePayment\Gateway\Validator\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">AutopayInitializeHandler</argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayInitializeRequestBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">
                    BlueMedia\BluePayment\Gateway\Request\InitializeRequestBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AutopayInitializeHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="initialize_status" xsi:type="string">BlueMedia\BluePayment\Gateway\Response\InitializeStatusHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="BlueMedia\BluePayment\Block\ShortcutButton">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">BlueMedia_BluePayment::shortcut.phtml</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="autopay_cart_data_plugin" type="BlueMedia\BluePayment\Plugin\CartDataPlugin"/>
    </type>

    <preference for="BlueMedia\BluePayment\Api\QuoteManagementInterface"
                type="BlueMedia\BluePayment\Model\QuoteManagement"/>
    <preference for="BlueMedia\BluePayment\Api\Data\ShippingMethodInterface"
                type="BlueMedia\BluePayment\Model\Data\ShippingMethod"/>
    <preference for="BlueMedia\BluePayment\Api\Data\ShippingMethodAdditionalInterface"
                type="BlueMedia\BluePayment\Model\Data\ShippingMethodAdditional"/>
    <preference for="BlueMedia\BluePayment\Api\Data\ConfigurationInterface"
                type="BlueMedia\BluePayment\Model\Data\Configuration"/>
    <preference for="BlueMedia\BluePayment\Api\Data\PlaceOrderResponseInterface"
                type="BlueMedia\BluePayment\Model\Data\PlaceOrderResponse"/>
    <preference for="BlueMedia\BluePayment\Api\Data\PlaceOrderResponseDataInterface"
                type="BlueMedia\BluePayment\Model\Data\PlaceOrderResponseData"/>

    <preference for="BlueMedia\BluePayment\Api\ShouldShowAutopayInterface"
                type="BlueMedia\BluePayment\Model\Autopay\ShouldShowAutopay"/>

    <type name="BlueMedia\BluePayment\Model\Autopay\ShouldShowAutopay">
        <arguments>
            <argument name="requestKey" xsi:type="string">test_autopay</argument>
        </arguments>
    </type>
</config>
