<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_creditmemo_set_template_vars_before">
        <observer name="add_payment_channel_to_transport_creditmemo" instance="BlueMedia\BluePayment\Observer\OrderObserver" />
    </event>
    <event name="email_invoice_set_template_vars_before">
        <observer name="add_payment_channel_to_transport_invoice" instance="BlueMedia\BluePayment\Observer\OrderObserver" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="add_payment_channel_to_transport_order" instance="BlueMedia\BluePayment\Observer\OrderObserver" />
    </event>
    <event name="email_shipment_set_template_vars_before">
        <observer name="add_payment_channel_to_transport_shipment" instance="BlueMedia\BluePayment\Observer\OrderObserver" />
    </event>
    <event name="payment_method_assign_data_bluepayment">
        <observer name="bluepayment_gateway_data_assign" instance="BlueMedia\BluePayment\Observer\DataAssignObserver" />
    </event>

    <!-- Analytics -->
    <event name="catalog_block_product_list_collection">
        <observer name="analytics_product_list" instance="BlueMedia\BluePayment\Observer\CatalogProductListObserver" />
    </event>
    <event name="bluemedia_payment_success">
        <observer name="analytics_checkout_submit" instance="BlueMedia\BluePayment\Observer\PaymentSuccessObserver"/>
    </event>
    <event name="sales_order_payment_place_end">
        <observer name="bluepayment_place_end" instance="BlueMedia\BluePayment\Observer\PlaceOrderObserver"/>
    </event>
</config>
