<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bluepayment_config_provider" xsi:type="object">BlueMedia\BluePayment\Model\ConfigProvider</item>
                <item name="autopay_config_provider" xsi:type="object">BlueMedia\BluePayment\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Extend PlaceOrder for Multishipping -->
    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping\PlaceOrderPool">
        <arguments>
            <argument name="services" xsi:type="array">
                <item name="bluepayment" xsi:type="string">BlueMedia\BluePayment\Model\Multishipping\PlaceOrder</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Multishipping\Controller\Checkout\OverviewPost"
                type="BlueMedia\BluePayment\Controller\Multishipping\OverviewPost" />
    <!-- Extend PlaceOrder for Multishipping -->

    <!-- Extend payments methods for multishipping -->
    <type name="Magento\Payment\Helper\Data">
        <plugin sortOrder="10" name="bluepayment_payment_data" type="BlueMedia\BluePayment\Plugin\ExtendPaymentMethod"/>
    </type>

    <type name="Magento\Multishipping\Model\Payment\Method\Specification\Enabled">
        <plugin sortOrder="10" name="bluepayment_enabled" type="BlueMedia\BluePayment\Plugin\SetEnabled"/>
    </type>

    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping">
        <plugin sortOrder="10" name="bluepayment_set_payment_method" type="BlueMedia\BluePayment\Plugin\SetPaymentMethod"/>
    </type>
    <!-- Extend payments methods for multishipping -->


    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="analytics_catalog_widget_product_list_plugin" type="BlueMedia\BluePayment\Plugin\CatalogWidgetProductsListPlugin"/>
    </type>
</config>
