<div class="payment-method blue-payment" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
           name="payment[method]"
           class="radio"
           data-bind="
               attr:{id: getCode()},
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible()
           "/>

        <label data-bind="attr: {for: getCode()}" class="label">
            <img src=""
                 alt=""
                 data-bind="attr: {src: gateway_logo_url, alt: gateway_name}"
                 class="payment-icon"
            />

            <p class="method-name">
                <span data-bind="text: getGatewayTitle()" class="payment-method-name"></span>
                <!-- ko if: getGatewayShortDescription() -->
                    <br />
                    <span data-bind="html: getGatewayShortDescription()" class="payment-method-description"></span>
                <!--/ko-->

                <!-- ko if: (getGatewayHelp() && (isChecked() === getCode())) -->
                    <span data-bind="html: getGatewayHelp()" class="payment-method-help-text"></span>
                <!--/ko-->
            </p>
        </label>
    </div>
    <div class="payment-method-content" data-bind="visible: isChecked()">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!--/ko-->
        <!--/ko-->

        <fieldset class="fieldset">
            <div class="payment-method-note">
                <div>
                    <div data-bind="foreach: cards, attr: {class: getCode() + '-options-list clearfix'}">
                        <label class="card-option" data-bind="
                            for: 'bluepayment_card_' + index,
                            click: $parent.selectCard.bind($parent)
                        ">
                            <input required
                                   data-bind="
                                       attr: {id: 'bluepayment_card_' + index, value: index},
                                   "
                                   name="payment_method_bluepayment_card_index"
                                   class="radio"
                                   type="radio"
                            />

                            <label data-bind="attr:{for: 'bluepayment_card_' + index }">
                                <img data-bind="attr:{src: logo, alt: number}" class="payment-logo" alt="" />

                                <span class="details">
                                    <span class="title" data-bind="text: number"></span>
                                </span>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="one-click-agreement field choice" style="margin-bottom: 15px;" visible="selectedCard() == -1">
            <input type="checkbox"
                   name="payment_method_bluepayment_one_click_agreement"
                   value="1"
                   id="bluepayment-one-click-agreement"
                   required
            >
            <label for="bluepayment-one-click-agreement">
                <span data-bind="html: oneClickAgreement"></span>
            </label>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="bluepayment-agreements-block">
            <!-- ko foreach: $parent.getRegion('bluepayment-agreements') -->
                <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder
                        ">
                    <span translate="'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
