<!-- ko if: gateways === false || gateways.length > 0 -->
<div class="payment-method blue-payment" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input
                type="radio"
                name="payment[method]"
                class="radio"
                data-bind="
                    attr:{id: getCode()},
                    value: getCode(),
                    checked: isChecked,
                    click: selectPaymentMethod,
                    visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!-- ko if: gateways !== false && gateways.length > 0 -->
            <div class="blue-payment__slideshow">
                <span data-bind="foreach: gateways">
                    <img src="" alt="" data-bind="attr:{src: logo_url, alt: name}" class="blue-payment__slideshow-slide"/>
                </span>
            </div>
            <!--/ko-->

            <!-- ko if: gateways === false -->
            <!-- BM Logo -->
            <img src=""
                 data-bind="attr: {alt: $t('Acceptance Mark'), src: logoUrl}"
                 class="payment-icon"/>
            <!-- BM Logo -->
            <!--/ko-->

            <p class="method-name">
                <span data-bind="text: getTitle()" class="payment-method-name"></span>
                <br/>
                <span translate="'You will be redirected to the page of the selected bank.'"
                      class="payment-method-description"></span>
            </p>
        </label>
    </div>
    <!--ko if: getCode() == isChecked()-->
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!--/ko-->
        <!--/ko-->

        <!-- ko if: gateways != false && gateways.length > 0 -->
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <div data-bind='attr: {id: "p_method_" +  getCode() + "_gateway", class: "p_method_" +  getCode()}'>
                    <ul data-bind="foreach: gateways, attr: {class: getCode() + '-options-list clearfix'}, afterRender: isChecked()">
                        <li data-bind="click: $parent.selectPaymentOption, attr:{class: 'payment-option opt_'+ gateway_id + ($parent.selectedGatewayId() == gateway_id ? ' _active' : '')}, visible: (!$parent.bluePaymentCollapsible || !$parent.collapsed() || $index() < 8)">
                            <label data-bind="attr:{for: $parent.getCode() + gateway_id }">
                                <img data-bind="attr:{src: logo_url,alt: name}"
                                     class="payment-logo"/>

                                <span class="payment-name" data-bind="text: name"></span>
                            </label>
                        </li>
                    </ul>

                    <!-- ko if: bluePaymentCollapsible -->
                    <div class="gateway-collapsible">
                        <a href="#" class="expand" data-bind="
                            visible: collapsed(),
                            click: function() {this.collapsed(false)},
                            i18n: 'Show all'
                        "></a>

                        <a href="#" class="collapse" data-bind="
                            visible: !collapsed(),
                            click: function() {this.collapsed(true)},
                            i18n: 'Collapse'
                        "></a>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </fieldset>
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="bluepayment-agreements-block">
            <!-- ko foreach: $parent.getRegion('bluepayment-agreements') -->
            <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {
                                'title': $t('Place Order'),
                                'data-payment-method-name': $data.index
                            },
                            enable: (getCode() == isChecked()),
                            css: {disabled: !isPlaceOrderActionAllowed()}
                            "
                        disabled>
                    <span translate="'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
    <!--/ko-->
</div>
<!--/ko-->
