.consumer-finance {
    margin-bottom: 20px;

    h2 {
        color: #000;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 7px;
            }
        }

        a {
            display: inline;
            color: #00B5DD;
            font-size: 14px;
            margin: 0;
            padding: 0;

            &::before {
                content: none;
            }
        }
    }
}
