<div class="payment-method blue-payment multishipping"
     data-bind="
        css: {'_active': (getCode() == isChecked())},
        attr: {
            'data-name': name
        }
    ">
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <fieldset class="fieldset">
            <div class="payment-method-note">
                <div>
                    <ul data-bind="foreach: bluePaymentCards, attr: {class: getCode() + '-options-list clearfix'}">
                        <li data-bind="attr:{class: 'card-option'}">
                            <input required
                                   data-bind="
                                        attr:{id: 'bluepayment_card_' + index, value: index },
                                        click: $parent.selectAutopayCardIndex.bind($parent)
                                   "
                                   name="payment_method_bluepayment_card_index"
                                   class="radio"
                                   type="radio" />

                            <label data-bind="attr:{for: 'bluepayment_card_' + index }">
                                <img data-bind="attr:{src: logo}" class="payment-logo"/>

                                <span class="details">
                                    <span class="title" data-bind="text: number"></span>
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="mage-error" style="clear: both;" data-bind="{i18n: 'You have to choose payment card.', visible: validationFailed}"></div>
            </div>
        </fieldset>

        <div class="autopay-agreement field choice" style="margin-bottom: 15px; display: none;">
            <input type="checkbox" name="payment_method_bluepayment_autopay_agreement" value="1" id="autopay-agreement">
            <label for="autopay-agreement">
                <span data-bind="html: bluePaymentAutopayAgreement"></span>
            </label>
            <div class="mage-error" style="display: none; clear: both;" data-bind="{i18n: 'You have to agree.', visible: validationAgreementFailed}"></div>
        </div>

        <div class="bluepayment-agreements-block">
            <!-- ko foreach: getRegion('bluepayment-agreements') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar no-display">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="{click: placeOrderClick}"
                        class="action primary checkout">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
