<div class="payment-method blue-payment multishipping"
     data-bind="
        css: {'_active': (getCode() == isChecked())},
        attr: {
            'data-name': name
        }
    ">
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko i18n: 'You will be redirected to the Blue Media secure service payment after submitting the order.' --><!-- /ko -->
    </div>

    <div class="bluepayment-agreements-block">
        <!-- ko foreach: getRegion('bluepayment-agreements') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
